{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <title>Inicio BarberShop</title>
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title p-b-26">
                    @BarberShop
                </span>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <a class="text-center login100-form-title p-b-26" href="/login/">Iniciar Sesión</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>