{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/registrarCliente.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <title>Actualizar Clientes</title>
</head>

<body>
    <section class="bg-black">
        <div class="container">
            <h1 class="text-center white">Actualizar Usuarios</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 white">
                        {{ form.user|as_crispy_field }}
                    </div>
                    <div class="col-md-6 white">
                        {{ form.rut|as_crispy_field }}
                    </div>
                </div>
                <div class="white">
                    {{ form.correo|as_crispy_field }}
                </div>
                <div class="white">
                    {{ form.nombre|as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col-md-6 white">
                        {{ form.apellido|as_crispy_field }}
                    </div>
                    <div class="col-md-6 white">
                        {{ form.fechaNacimiento|as_crispy_field }}
                    </div>
                </div>
                <div class="white">
                    {{ form.telefonoContacto|as_crispy_field }}
                </div>
                <div class="white">
                    {{ form.tipoVivienda|as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col-md-6 white">
                        {{ form.Region|as_crispy_field }}
                    </div>
                    <div class="col-md-6 white">
                        {{ form.Ciudad|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="ml-3 white" href="/listarProductos/listarCliente/">Volver</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-color full-width">Grabar</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</body>

</html>